# Database (Laragon MySQL)
DATABASE_URL="mysql://root:@localhost:3306/telur_acong"

# NextAuth
NEXTAUTH_SECRET="ganti-dengan-random-string-yang-panjang-dan-aman"
NEXTAUTH_URL="http://localhost:3000"

# Production (Vercel)
# DATABASE_URL="mysql://user:password@host:3306/telur_acong"
# NEXTAUTH_URL="https://yourdomain.vercel.app"
